[submodule "third_party/fastvalidate-utf-8"]
	path = third_party/fastvalidate-utf-8
	url = https://github.com/ZHaskell/fastvalidate-utf-8.git
[submodule "third_party/utf8rewind"]
	path = third_party/utf8rewind
	url = https://github.com/ZHaskell/utf8rewind.git
[submodule "third_party/fastbase64"]
	path = third_party/fastbase64
	url = https://github.com/ZHaskell/fastbase64.git
[submodule "third_party/botan"]
	path = third_party/botan
	url = https://github.com/randombit/botan.git
