[submodule "third_party/fastvalidate-utf-8"]
	path = z-data/third_party/fastvalidate-utf-8
	url = git@github.com:haskell-Z/fastvalidate-utf-8.git
[submodule "third_party/utf8rewind"]
	path = z-data/third_party/utf8rewind
	url = git@github.com:haskell-Z/utf8rewind.git
[submodule "third_party/Turbo-Base64"]
	path = z-data/third_party/Turbo-Base64
	url = git@github.com:haskell-Z/Turbo-Base64.git
[submodule "third_party/re2"]
	path = z-data/third_party/re2
	url = https://github.com/google/re2.git
